BOT_TOKEN=SOME_BOT_TOKEN
DEVELOPER_ID=
ADMIN_ID=
DB_NAME=db.sqlite3
PROJECT_STATUS=COMMON | PREMIUM
ADMIN_CHAT_ID=если проверка подписки включена
ADMIN_CHAT_URL=если проверка подписки включена
CHECK_SUBSCRIPTION=True

LOG_LEVEL=INFO
lOG_FILE_NAME=logs.log